@font-face {
  font-family: "qht-icon"; /* Project id 4427726 */
  src: url('//at.alicdn.com/t/c/font_4427726_9sj3a9g1igo.woff2?t=1774687380856') format('woff2'),
       url('//at.alicdn.com/t/c/font_4427726_9sj3a9g1igo.woff?t=1774687380856') format('woff'),
       url('//at.alicdn.com/t/c/font_4427726_9sj3a9g1igo.ttf?t=1774687380856') format('truetype');
}

.qht-icon {
  font-family: "qht-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.qht-icon-dingzhi:before {
  content: "\e6e3";
}

.qht-icon-gift:before {
  content: "\e6c1";
}

.qht-icon-jfdh:before {
  content: "\e61a";
}

.qht-icon-yingfu:before {
  content: "\e607";
}

.qht-icon-huizong:before {
  content: "\e67d";
}

.qht-icon-qrcode:before {
  content: "\e617";
}

.qht-icon-align-bottom:before {
  content: "\e6bf";
}

.qht-icon-align-left:before {
  content: "\e6cf";
}

.qht-icon-align-right:before {
  content: "\e6d0";
}

.qht-icon-align-top:before {
  content: "\e6d1";
}

.qht-icon-align-vertical:before {
  content: "\e6d2";
}

.qht-icon-resize-horizontal:before {
  content: "\e6e7";
}

.qht-icon-resize-vertical:before {
  content: "\e6e8";
}

.qht-icon-align-horizontal:before {
  content: "\e6b5";
}

.qht-icon-fast:before {
  content: "\e6ea";
}

.qht-icon-cat:before {
  content: "\e6a7";
}

.qht-icon-daizhifu:before {
  content: "\e608";
}

.qht-icon-order:before {
  content: "\e637";
}

.qht-icon-yifahuo:before {
  content: "\e640";
}

.qht-icon-daifahuo:before {
  content: "\e641";
}

.qht-icon-yiguoqi:before {
  content: "\e647";
}

.qht-icon-yishiyong:before {
  content: "\e648";
}

.qht-icon-unchecked:before {
  content: "\e72f";
}

.qht-icon-checked:before {
  content: "\e730";
}

.qht-icon-cart-empty:before {
  content: "\e655";
}

.qht-icon-hongbao:before {
  content: "\e659";
}

.qht-icon-coupon:before {
  content: "\e61f";
}

.qht-icon-jifen:before {
  content: "\e619";
}

.qht-icon-chuzhi:before {
  content: "\e606";
}

.qht-icon-chongzhi:before {
  content: "\e605";
}

.qht-icon-denglu:before {
  content: "\e66b";
}

.qht-icon-load-image:before {
  content: "\e604";
}

.qht-icon-manjian:before {
  content: "\e665";
}

.qht-icon-buxuanze:before {
  content: "\e603";
}

.qht-icon-zanwuzujian:before {
  content: "\e6b1";
}

.qht-icon-home:before {
  content: "\e62d";
}

.qht-icon-search:before {
  content: "\e611";
}

.qht-icon-zuji:before {
  content: "\e657";
}

.qht-icon-link:before {
  content: "\e623";
}

.qht-icon-cart:before {
  content: "\e624";
}

.qht-icon-batchbuy:before {
  content: "\e682";
}

.qht-icon-fav:before {
  content: "\e646";
}

.qht-icon-member:before {
  content: "\e600";
}

.qht-icon-jian:before {
  content: "\e620";
}

.qht-icon-gengduo:before {
  content: "\e621";
}

.qht-icon-add:before {
  content: "\e622";
}

.qht-icon-shang:before {
  content: "\e63c";
}

.qht-icon-xia:before {
  content: "\e63d";
}

.qht-icon-zuo:before {
  content: "\e63e";
}

.qht-icon-moban:before {
  content: "\e663";
}

.qht-icon-pc:before {
  content: "\e66a";
}

.qht-icon-wap:before {
  content: "\e7b2";
}

.qht-icon-delete-fill:before {
  content: "\e630";
}

.qht-icon-blank:before {
  content: "\e64d";
}

.qht-icon-horzline:before {
  content: "\e884";
}

.qht-icon-imaged:before {
  content: "\e601";
}

.qht-icon-goods:before {
  content: "\e854";
}

.qht-icon-banner:before {
  content: "\e6a6";
}

.qht-icon-text:before {
  content: "\e69e";
}

.qht-icon-louceng:before {
  content: "\e625";
}

.qht-icon-searchbox:before {
  content: "\e708";
}

.qht-icon-copyright:before {
  content: "\e632";
}

.qht-icon-tongzhi:before {
  content: "\e62c";
}

.qht-icon-sortable:before {
  content: "\e64b";
}

.qht-icon-navigator:before {
  content: "\e602";
}

.qht-icon-folder:before {
  content: "\e658";
}

.qht-icon-plus:before {
  content: "\e653";
}

.qht-icon-minus:before {
  content: "\e7df";
}

.qht-icon-title:before {
  content: "\e6ab";
}

.qht-icon-miaosha:before {
  content: "\e654";
}

.qht-icon-copy:before {
  content: "\e642";
}

.qht-icon-daohang:before {
  content: "\e650";
}

.qht-icon-delete:before {
  content: "\e649";
}

